<% provide(:title, 'Contacts') %>
<div class="row">
	<table class="table table-hover">
		<caption>Contacts (<%= @contacts.count %>)</caption>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Address</th>
				<th>Company</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% if @contacts.any? %>
				<%= render partial: 'contacts/contact', collection: @contacts %>
			<% end %>

			<!-- <tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td><%= link_to "", '#', class: "icon-headphones" %></td>
				<td><%= link_to "", '#', class: "icon-comment" %></td>
				<td><%= link_to "", '#', class: "icon-edit" %></td>
				<td><%= link_to "", '#', class: "icon-remove" %></td>
			</tr>
-->			
			<%= form_for(@contact) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
				<tr>
					<td><%= f.text_field :first_name %></td>
					<td><%= f.text_field :last_name %></td>
					<td><%= f.text_field :phone_number %></td>
					<td><%= f.text_field :email %></td>
					<td><%= f.text_field :address %></td>
					<td><%= f.text_field :company %></td>
					<td></td>
					<td></td>
					<td></td>
					<td><%= f.submit "Add New Contact", class: "btn btn-danger btn-small" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="paginate"><%= will_paginate @contacts %></div>
</div>